body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50; /* Green background for Science */
    color: white;
    padding: 10px 0;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 36px;
}

p {
    font-size: 18px;
    color: #666;
}

.container {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.article {
    margin-bottom: 30px;
}

.article h2 {
    font-size: 28px;
    color: #333;
}

.article img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}
