<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Stories</h2>
                    <h3 class="section-subheading text-muted">Stories from Science, Arts, Culture, and combinations of them</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Science</h4>
                    <p class="text-muted">World of scintific journies in diverse fields of basic and applied sciences. 
                        Sheding light on Scientific Discoveries, Scientists lives, and 
                        describing Scientific Concepts, and Recent Innovations.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Culture</h4>
                    <p class="text-muted">The way we can distribute science. Stories of cultures 
                        from the point of view of countries, organizations, and humans from the past and present.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Arts</h4>
                    <p class="text-muted">The final step of the road from science to society. Arts and its abilities
                        to showcase culture. Stories of arts and artists; when science and culture seek help from
                        it and when the minds of scintists see something completely different and even unorganized.
                    </p>
                </div>
            </div>
        </div>
    </section>